<nav>
    <ul>
        <li>
            <a href="javascript:;" onclick="carregarPaginaAjax('/Dashboard/Index')" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
        </li>
        <li>
            <a href="javascript:;"><i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent">Cadastro</span></a>
            <ul>
                <li>
                    <a href="javascript:;" onclick="carregarPaginaAjax('/Usuario/Index')">Usuários</a>
                </li>
                <li>
                    <a href="javascript:;" onclick="carregarPaginaAjax('/Produto/Index')">Produtos</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" title="Cliente" onclick="carregarPaginaAjax('/Cliente/Index')"><i class=" fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Clientes</span></a>
        </li>
        <li>
            <a href="javascript:;" title="Cliente" onclick="carregarPaginaAjax('/Configuracao/Index')"><i class=" fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Configuração</span></a>
        </li>
        <li>
            <a href="javascript:;" title="Cliente" onclick="carregarPaginaAjax('/Fatura/GerarFaturas')"><i class=" fa fa-lg fa-fw fa-dollar"></i> <span class="menu-item-parent">Gerar faturas</span></a>
        </li>
    </ul>
</nav>